[submodule "externals/llvm-project"]
	path = externals/llvm-project
	url = https://github.com/jiangquchengpeter/llvm-project-hwacc.git
[submodule "externals/stablehlo"]
	path = externals/stablehlo
	url = https://github.com/openxla/stablehlo.git
[submodule "externals/gemm-hwacc-backend"]
	path = externals/gemm-hwacc-backend
	url = https://github.com/jiangquchengpeter/gemm-hwacc-backend.git
